.fctment{
    padding: 12% 3%;
}

.fctment--ul{
    margin: 0 3% 0 5%;
}

.fctment--li{
    margin-bottom: 20px;
}

@media screen and (min-width:768px){
    .fctment{
        padding: 12% 6%;
    }

    .fctment--li{
        margin-bottom: 40px;
    }
}

@media screen and (min-width:992px){
    .fctment{
        max-width: 1200px;
        margin: 0 auto;
        padding: 4% 3%;

        .fctment--ul{
            display: flex;
            justify-content: space-between;
            margin: 0%;
    
            li{
                width: 31%;
            }
        }
    }
}