header{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4%;
}

.header--logo{
    margin: auto;
    width: 160px;
}

.linkHomepage--icon{
    font-size: 20px;
}

@media screen and (min-width:672px) {
    header{
        padding:2% 4%;
    }
    .header--logo{
        width: 240px;
    }

    .linkHomepage--icon{
        font-size: 30px;
    }
}
@media screen and (min-width:992px) {

    header{
        box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) ;
        -webkit-box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) ;
        -moz-box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) ;
    }
    .header--logo{
        width: 280px;
    }

        .linkHomepage--icon{
            font-size: 40px;
        }
}