.menu{
    position: relative;
    bottom: 70px;
    padding: 8% 4% 0 4%;
}

.menu--heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.dishlist{
    margin-bottom: 50px;
}

.dishlist--li, .menu--heading {
    margin-bottom: 36px; 
}

.dishlist--heading{
    margin-bottom: 20px; 
    margin-left: 10px;
}

.dishCard{
    margin-bottom: 4%; 
}

.link--button{
        margin:auto;
    }

@media screen and (min-width: 768px){
    .dishlist{
        margin-bottom: 45px;
    }

    .dishlist--dishCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;           
    }

    .dishlist--heading{
        width: 100%;
        margin-bottom: 27px;
    }

    .dishCard{
        width: 49%;
    }
}

@media screen and (min-width: 992px){
    .menu--main{
        max-width: 1200px;
        margin: auto;
    }
    
    .menu{
        padding: 7% 4%;
        top: 0;
    }

    .menu--heading{
        margin-bottom: 8%;
    }
}