.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 50px;
}

.presentation--location{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    input{
        margin-left: 5px;
    }
}

.presentation--heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin: 10% 0;
    
}   

.presentation--title{
    margin-bottom: 3%;
    padding: 0 15%;
    
}

.presentation--p{
    padding: 0 10%;
}


@media screen and (min-width:768px){

    .presentation{
        padding-bottom: 80px;
    }

    .presentation--heading{
        margin: 6% 0;
        
    }   
    .presentation--title{
        padding: 0 20%;
        
    }
    
    .presentation--p{
        padding: 0 15%;
    }

    input{
        margin-left: 5px;
    }
}

@media screen and (min-width:992px){
    .presentation{
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .presentation--title{
        padding: 0 25%;
        
    }

    
}