.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-bottom: 15%;
}

.presentation--location{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;
}

.presentation--heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    margin: 10% 0;
    
}   

.presentation--title{
    margin-bottom: 3%;
    padding: 0 15%;
    
}

.presentation--p{
    padding: 0 30px;
}

