.resto{
    padding: 12% 4%;
}

.homepage--heading{
    margin-bottom: 8%;
}

.resto-li{
    margin-bottom: 5%;
}

@media screen and (min-width: 768px){
    .resto{
        padding: 12% 6%;
    }
}

@media screen and (min-width: 992px){
    .resto{
        padding: 8% 3%;
        max-width: 1200px;
        margin: 0 auto;

        .resto-ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 3%;

            .resto-li{
                width: 48%;
            }
        }
    }
}