.link--button{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    color: white;
    
    box-shadow: 1px 7px 23px -5px rgba(61,61,61,0.87);
    -webkit-box-shadow: 1px 7px 23px -5px rgba(61,61,61,0.87);
    -moz-box-shadow: 1px 7px 23px -5px rgba(61,61,61,0.87);
    
    background: linear-gradient(356deg,rgba(168, 120, 224, 1) 0%,rgba(255, 121, 218, 1) 100%);

}

.menu .link--button{
    width: 165px;
}

.link--spanText{
        font-size: 14px;
        font-weight: 400 ;
}


@media screen and (min-width:768px){
    
    .link--button{
        border-radius: 50px;
        padding: 20px;        
    }

    .presentation .link--button{
        width: 290px;
    }

    .menu .link--button{
        width: 250px;
    }

    .link--spanText{
        font-size: 20px;
        white-space: nowrap;
        
    }
}


@media screen and (min-width: 992px){
    
    .link--button{
        border-radius: 100px;      
    }
    .presentation .link--button{
        width: 360px;
    }

    .menu .link--button{
        width: 300px;
    }
    .link--spanText{
        font-size: 26px;
    } 

}

