@mixin radian-heart {
    background: #FF79DA;
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.fa-heart{
    color: #ffffff; 
    transition: color 500ms;
    &:hover{
    
    }
} 

