.dishCard{
    border-radius: 18px;
    background-color: white;
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

        &:hover > .dishCard--detailContainer, .dishCard--name {
            width: calc(78%)
        }
}

.dishCard--detailContainer{
    width: calc(100%);
    padding: 0 4%; 

    transition: width 340ms linear;

}

.dishCard--name{
    margin-bottom: 3px;
    font-size: 16px;
}

.dishCard--caption{
    font-weight: 400;
}

.dishCard--detail{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
} 

.dishCard--caption, .dishCard--name{
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100%);
}

.price{
    display:flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width:768px){

    .dishCard{
        height: 80px;
    }

    .dishCard--name{
        font-size: 18px;
        margin-bottom: 5px;
    }

    .dishCard--detail{
        font-size: 16px;

    }

}

@media screen and (min-width:992px){
    .dishCard{
        height: 90px;

        &:hover > .dishCard--detailContainer, .dishCard--name {
            width: calc(88%)
        }
    }
}