
.banner img{
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.menu{
    border-radius: 40px 40px 0 0;
}

.menu--main, .menu{
    background-color: rgb(240, 240, 240);
}

.dishlist--heading{
    position:relative;
    font-size: 16px;
    margin-right: 50px;
        &::after{
            content: "__";  
            position: absolute;
            bottom:-19px;
            left: 0;       
            font-size: 50px;
            font-weight: 400;
            color: #99E2D0;
        }
}

@media screen and (min-width: 672px){

    .menu{
        border-radius: 60px 60px 0 0;
    }
    
    .banner img{
        height: 380px;
    }

    .dishlist--heading{
        font-size: 22px;
        &::after{
            content: "__";  
            font-size: 50px;
            bottom:-25px;
        }
    }
}


@media screen and (min-width: 992px){
    .banner img{
        height: 550px;
    }

    main.menu--main{
        background-color: white;
    }

    .dishlist--heading{
        font-size: 26px;
        &::after{
            content: "__";  
            bottom:-25px;
            font-size: 70px;
        }
    }
}
