
.banner img{
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.menu{
    border-radius: 40px 40px 0 0;
}


.menu--title, .menu--likeBtn{
    font-size: 28px;
}

.menu--main, .menu{
    background-color: rgb(240, 240, 240);
}

.dishlist--heading{
    position:relative;
    font-size: 16px;
    margin-right: 50px;
        &::after{
            content: "__";  
            position: absolute;
            bottom:-13px;
            left: 0;       
            font-size: 40px;
            font-weight: 400;
            color: #99E2D0;
        }
}

@media screen and (min-width: 768px){

    .menu{
        border-radius: 60px 60px 0 0;
    }

    .banner img{
        height: 380px;
    }

    .menu--title, .menu--likeBtn{
        font-size: 40px;
    }

    .dishlist--heading{
        font-size: 22px;
        &::after{
            content: "__";  
            font-size: 50px;
            bottom:-25px;
        }
    }
}


@media screen and (min-width: 992px){

    .banner{
        position: relative;
        top: 2px;
        border-radius: 40px 40px 0 0;

    }

    .banner img{
        height: 450px;
        border-radius: 40px 40px 0 0;
        background-color: transparent;
    }


    .menu{
        border-radius:0;
    }

    .menu--main{
        margin-top: 1px;
        background-color: white;

        box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) inset;
        -webkit-box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) inset;
        -moz-box-shadow: 1px 12px 6px -11px rgba(122,122,122,0.51) inset;
    }

    .dishlist--heading{
        font-size: 26px;
        &::after{
            content: "__";  
            bottom:-25px;
            font-size: 70px;
        }
    }
}
