// style style des titres et des textes

h1.presentation--title, h2.homepage--heading{
    font-weight: 600;
}

.presentation--p{
    font-size: inherit;
}

// background des sections
.presentation{
    background-color: rgb(240, 240, 240);
}

.presentation--location{
    box-shadow: 9px 12px 6px -11px rgba(122,122,122,0.51) inset;
    -webkit-box-shadow: 9px 12px 6px -11px rgba(122,122,122,0.51) inset;
    -moz-box-shadow: 9px 12px 6px -11px rgba(122,122,122,0.51) inset;

    background-color: rgba(162, 160, 160, 0.408);
}

.resto{
    background-color:  rgb(240, 240, 240);
}

@media screen and (min-width:672px){
    .presentation--p{
        font-size: 24px;
    }
}

@media screen and (min-width:992px){
    .presentation--p{
        font-size: 30px;
    }
}
