.dishCard{
    overflow: hidden;
    &:hover > .dishCard--check{
        width: auto;
        padding: 0 25px;
        & > .fa-check{
            transform: rotate(1turn);
        }
    }
}

.dishCard--check{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-radius: 0 18px 18px 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: all 200ms linear;
}

.fa-check{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: #99E2D0;
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;    
    transform: rotate(0turn);
    transition: transform 200ms linear;
    
}

@media screen and (min-width:768px){
    .dishCard{
        &:hover > .dishCard--check{
            padding: 0 30px;
        }
    }
}

@media screen and (min-width:992px){
    .dishCard{
        &:hover > .dishCard--check{
            padding: 0 35px;
        }
    }
}