@mixin radian-heart {
    background: #FF79DA;
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// position des coeur regular et solid

.menu--likeBtn, .cardCaption--likeBtn {
    display: flex;
    flex-direction: column;
}

.scale1{
    z-index: 0;
    position: relative;
    right: 0;
    transform: scale(1);
    transition: transform 400ms 400ms;
    &:hover{
        transform: scale(0.9);

        & + .scale0{
            transform: scale(1);
        }
    }
} 

.scale0{
    z-index: 1;
    position: absolute;
    @include radian-heart;
    transform: scale(0);
    transition: transform 600ms;
}

