.dishlist--dishCard{
    position: relative;
    opacity: 0;
    animation: slidebottom 2s ease-out; 
    animation-fill-mode: forwards;
}

@keyframes slidebottom { 
    from{ bottom:-80px; opacity:0; } 
    to{ bottom:0px; opacity:1; }
}

.delay1{
    animation-delay: 0.5s;
}

.delay2{
    animation-delay: 1s;
} 

.delay3{
    animation-delay: 1.5s;
}
