.dishlist--dishCard{
    position: relative;
    
}

@keyframes slidebottom { 
    from{ bottom:-200px; opacity:0; } 
    to{ bottom:0px; opacity:1; }
}

.delay1{
    animation: slidebottom 2s ;
}


.delay2{
    animation: slidebottom 3s  ;
}

.delay3{
    animation: slidebottom 3.5s ;
}
